In [1]:
name = input("성함을 입력하세요:")
print(name)

성함을 입력하세요:박종일
박종일

In [14]:
def add(x, y):
   return float(x) + float(y)
def minus(x, y):
   return float(x) - float(y)
def multiply(x, y):
   return float(x) * float(y)
def division(x, y):
   return float(x) / float(y)

In [15]:
inputX = input("값을 입력하세요 : ")
inputY = input("값을 입력하세요 : ")
sum = add(inputX, inputY)
print(sum)

값을 입력하세요 : 3
값을 입력하세요 : 4
7.0

In [24]:
import pandas as pd
customerData = pd.read_csv("../dataset/customerdata.csv")
customerData.columns = ['고객ID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']
customerData.to_csv("../dataset/customerdata_out.csv", index=False, encoding='ms949')
customerData.head()

     고객ID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog