In [2]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://HKCJ:HKCJ@10.184.5.50:1521/xe') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM CJ_CHANNEL_SEASONALITY', engine) 

# 컬럼해더 재정의
# customerData.columns = ['REGIONID','PRODUCT','YEARWEEK','VOLUME']

# 데이터 VIEW
customerData.head()

  regionid    product yearweek      qty
0      A60   PRODUCT4   201402     71.0
1      A60  PRODUCT59   201402  22275.0
2      A60  PRODUCT34   201402   4463.0
3      A60  PRODUCT47   201402      0.0
4      A60  PRODUCT56   201402     23.0