### 예제 - 사칙연산

In [3]:
a = 13
A = 10
sum = a + A
print(sum)

23

In [5]:
import datetime as dt

In [6]:
current_time = dt.datetime.now()
current_time

datetime.datetime(2018, 11, 13, 13, 16, 45, 805472)

In [9]:
aType = "This is 'String' value"
print(aType)

This is 'String' value

In [10]:
type(aType)

str

In [22]:
question = "SEC 20180212 250"
#stock_name = question[0:3]
#date = question[4:12]
#value = question[14:]
answer = question.split(" ")
print(answer)

['SEC', '20180212', '250']

In [29]:
question = "Sec 2018W28 250"
answer = question.upper().split(" ")
print(answer[0])
print(answer[1].replace("W"," "))
print(answer[2])

SEC
2018 28
250

In [43]:
work = [120,150,300,500,1000,100,2000]

TypeError: 'int' object is not callable

In [46]:
import pandas as pd
data = {'name': ['A고객','B고객','C고객','D고객'],
       'age': [27,40,33,29],
       'stock_age':[2,10,5,1]}
dataFrame = pd.DataFrame(data)
dataFrame

   age name  stock_age
0   27  A고객          2
1   40  B고객         10
2   33  C고객          5
3   29  D고객          1

In [45]:
import pandas as pd
test = [10,100,1000,10000]
testDf = pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [ ]:
import numpy an np

In [1]:
#파이썬 사칙연산
integer_value = 123
float_value = 12.456
# 1. 더하기 연산
sum = integer_value+float_value
print(sum)
# 2. 곱하기 연산
multiple = integer_value*float_value
print(multiple)
# 3. 나누기 연산
division = integer_value/float_value
print(division)
# 4. 제곱연산
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)
# 5. 나머지 연산
mod = integer_value%int(float_value)
print(mod)

135.456
1532.088
9.8747591522158
144
3

### 실습 - 사칙연산